.column2 {
    position: relative;
    float: right;
    right: 50px;
    top: 15px;
}

.personal-info-section{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 50px;
}

.personal-info-section a{
    float: right;
    text-decoration: none;
    background-color: #ca3a1b;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    margin-right: 20%;
}

.personal-info-section span{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

.personal-info-section-content{
    position: relative;
    display: block;
    width: 80%;
    height: 250px;
    background-color: #e6e6e6;
    margin-top: 25px;
    border-radius: 10px;
    padding: 30px 30px 10px 100px;
}

.personal-info-section-content img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    position: relative;
    right: 20px;
    bottom: 10px;
}

/* .avatar {
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    position: relative;
    bottom: 5px;
    object-fit:contain;
    object-position: top;
} */

.details{
    float: left;
    position: relative;
    vertical-align: middle;
    margin-left: 30px;
}

table {
    width: 100%;
}
  
th, td {
    text-align: left;
    padding-bottom: 20px;
    position: relative;
    top: 5px;
    
}

td:last-child {
    left: 60px;
}

.info-right-column{
    color: #108882;
    padding-left: 30px;
}

.info-right-column-color{
    color: #108882;
}

.additional-info{
    position: relative;
    display: block;
    width: 115%;
    padding-right: 0px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.additional-info-content{
    align-content: center;
    display: block;
    position: relative;
    width: 100%;
    background-color: #e6e6e6;
    padding: 20px;
    padding-left: 50px;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 65px;
}

.billing-info{
    position: relative;
    display: block;
    width: 100%;
    height: 210px;
    padding-right: 50px;
    margin-bottom: 0px;
    /* bottom: 26.5vh;
    transform: translateX(52vh); */
}

.billing-info-content{
    display: block;
    position: relative;
    width: 100%;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    padding-left: 50px;
}
.billing-info-content td:last-child{
    position: relative;
    left: 180px;
}

.bio-info{
    position: relative;
    display: block;
    width: 80%;
}

.bio-info-content{
    display: block;
    position: relative;
    width: 80%;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    padding-left: 50px;
}

.checked {
    color: orange;
}