.search-container{
    width: 100%;
    position: relative;
    left: 60px;

}

.search-container input[type=search] {
    width: 863px;
    height: 46px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color:  rgba(16, 136, 130, 0.37);
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-container button {
    color: rgba(15, 119, 114, 0.555);
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 52px;
    top: 2px;
    font-size: 20px;
}

.sortinglist{
    margin-top: 1%;
    margin-right: 15%;
    width: 75%;
    max-height: 300%;
    position: relative;
    display: block;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: rgb(40, 170, 163);
    text-align: center;
    
    padding: 10px;
    padding-bottom: 20px;
}

.sortinglist select {
    background-image: linear-gradient(#ffffff, #79ccc8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: left;
    border: 0px solid #2f8d8873;
    position: relative;
    top: 30px;
    width: 50vh;
}

#location {
    color: #1a948e;
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:linear-gradient(#b6e7e5b0, #b6e7e5b0);
    border: 2px solid #2f8d8873;
    width: 70%;
    position: relative;
    top: 0px;
}

.sortinglist button {
    background-image: linear-gradient(rgb(168, 217, 240), #ffffff);
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    padding: 15px 60px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #2f8d8873;
    position: relative;
    top: 5px;
    margin-bottom: 30px;
}
/* 
.sortinglist a{
    color: rgb(15, 77, 77);
} */

.sortinglist button:hover {
    background-image: linear-gradient(#e66666, #ffffff);
    color: rgb(43, 51, 51);
    padding: 20px 65px;
    transition: 0.2s;
}

.image img {
    width: 55%;
    position: relative;
    top: 0px;
}
