.search-container{
    width: 100%;
    position: absolute;

}

.search-container input[type=search] {
    width: 863px;
    height: 46px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color:  rgba(16, 136, 130, 0.37);
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    padding-left: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.search-container button {
    color: rgba(15, 119, 114, 0.555);
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: none;
    font-size: 24px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 52px;
    top: 2px;
    font-size: 20px;
}

.sortinglist{
    margin-top: 8%;
    margin-right: 15%;
    width: 100%;
    position: relative;
    top: 30px;
}

.sortinglist label {
    /* background-image: linear-gradient(#79ccc8, #ffffff); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 40px;
    padding: 5px;
    color: rgb(114, 114, 114);
}

.sortinglist select {
    background-image: linear-gradient(#79ccc8, #ffffff);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: left;
    border: 1px solid #2f8d8873;
}
/* style="font-family: Poppins; font-style: normal; font-size: 18px; color: #108882; margin-left:15px;
style="background: #108882; color: white; width: 187px; height: 38px; border-radius: 5px; */

.subrow{
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
    background-color: #74cfeb73;
    max-height: 500px;
    padding-bottom: 0;
}
  
  /* Create three equal columns that floats next to each other */
.subcolumn1{
    float: left;
    width: 20%;
    padding: 10px;
    height: 220px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.adimage{
    margin-top: 30px;
    margin-left: 5px;
}

.subcolumn2{
    float: left;
    width: 30%;
    padding: 10px;
    height: 220px;
}

.postedby{
    margin-top: 30px;
    margin-left: 5px;
}


.subcolumn3 {
    float: left;
    width: 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    height: 220px;
}

.details{
    margin-top: 30px;
    margin-left: 5px;
}


.subrow:after {
    content: "";
    display: table;
    clear: both;
}

.proceed {
    display: block;
    background-image: linear-gradient(#a5dcec8c, #1c89aa91);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #1a8d83ea;
    border-bottom-right-radius: 10px;
    position: relative;
    bottom: 15px;
    right: 15px;
}

.proceed:hover {
    /* background-image: linear-gradient(#e66666, #ffffff); */
    background-image: linear-gradient(rgb(255, 83, 83), rgb(255, 83, 83));
    text-align: center;
    padding: 12px 24px 12px 24px;
    transition: 0.2s;
    border: 2px solid #6bfff3;
}



