.sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(225, 225, 225, 0.05);
}

.sidebar ul li a{
    color: white;
    display:block;
    
}

.sidebar ul li a .fas{
    width: 25px;
}

.far{
    width: 25px;
}

.sidebar ul li:hover{
    background: white;
    border-radius: 12px 0px 0px 12px;
    width: 100%;
}

.sidebar ul li:hover a{
    color: #108882;
   
}

.top{
    margin-top: 90px;
}